<!DOCTYPE html>

<title>HbbTV Proxy Settings</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position:relative;">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Appium HbbTV Driver - Settings</span>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/settings" method="post">
                <h2 class="lead">Register to Selenium Grid Server</h2>
                <div class="form-group">
                    <label for="host">Hub host</label>
                    <input type="text" class="form-control" name="host" id="host" placeholder="selenium-hub.local" value="<%= data.host %>" required>
                </div>
                <div class="form-group">
                    <label for="host">Hub port</label>
                    <input type="number" class="form-control" name="port" id="port" placeholder="4444" value="<%= data.port %>" required>
                </div>

                <% if (!data.isAlreadyRegistered) { %>
                    <button type="submit" class="btn btn-primary">Register</button>
                <% } %>

                <% if (data.isAlreadyRegistered) { %>
                    Successfully registered to Hub
                <% } %>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-md-9">
                <img src="https://www.fokus.fraunhofer.de/assets/logo-860812875da0f0aa4d5ea48e795aac93b09affdb637eae121b367da604de8737.png" alt="Fraunhofer Fokus">
            </div>
            <div class="col-md-3" style="text-align: right">
                <p>Copyright &copy; Fraunhofer Fokus</p>
            </div>
        </div>
    </footer>

</div>
