<!DOCTYPE html>
<title>HbbTV Proxy Settings</title>

<form action="/settings" method="post">
    <h2>Register to Selenium grid</h2>
    <label>Hub host<sub>(e.g. "192.168.3.1")</sub>:</label><br>
    <input type="text" name="host" value="<%= data.host %>" style="width: 300px"><br>
    <br>
    <label>Hub port<sub>(e.g. "4444")</sub>:</label><br>
    <input type="text" name="port" value="<%= data.port %>" style="width: 300px"><br>
    <br>
    <input type="submit" value="Register"<% if (data.isAlreadyRegistered) { %> disabled="disabled"<% } %>>
    <% if (data.isAlreadyRegistered) { %>
        Successfully registered to Hub
    <% } %>
</form>
